<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="secondary">
      <ion-button>
        <ion-icon slot="icon-only" name="pizza"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Make the Dough</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <h3>About the dough</h3>
  <p>
    The dough in this recipe has low yeast, so it is well suited for a long rise at room temp of
    10-12 hours, or a refrigerated rise of 24-36 hours for a dough that has a good flavor profile. This works
    good with King Arthur Bread Flour, Tipo 00, and even AP(All Purpose) flour. A good New York Style is 50/50
    AP and Bread flour. 300g-350g is a good sized dough ball for a 12" pizza. Need pizza on short notice?
    Use 1.5-2x the yeast.
  </p>

  <p>
    This calculator is opinionated. It only suggests a recipe that is more traditional Neapolitan.
    It's your pizza, add what you like! There's nothing stopping you adding spices to your dough, it's just
    not something we do.
  </p>
  <h3>Kneading the dough</h3>
  <p>
    The recipe is EASY: Just throw everything but the oil into a bowl and mix. <b>By hand</b>: knead for 2-3
    minutes. <b>In a stand mixer with dough hook</b>: knead for 1-2 minutes on low. Cover and let sit for 20
    minutes.
    After 20 minutes, mix (on low) or knead for 5 minutes. After this five minutes, add any oil, then mix for
    2-3 more minutes.<br /> The dough should stil be pretty wet, but start to firm up and form a ball. If
    it's still loose, knead for another minute or two. Cover bowl and let sit for 20 more minutes.
  </p>
  <h3>Rising and fermentation</h3>
  <p>
    From here, you have two choices: Leave in bowl to bulk rise, or separate into individual balls. If
    bulk rising, cover bowl with oiled plastic wrap and sit in oven with light on or warm place until doubled
    in size. If separating into balls, I use 4-5 cup storage containers very lightly oiled with olive oil.
    <br />I like to put in the fridge overnight to really produce some nice flavor.
  </p>
  <h3>Measurements</h3>
  <p>
    The recipe uses Bakers %, and specify grams as the unit of measurement. Grams are the most accurate
    method, and precision is important when baking. You <b>MUST</b> use an accurate digital scale that can
    measure in grams and preferably .10 grams (tenths). If your scale is only accurate to grams, round
    everything up to the next gram. Bakers % makes all the ingredients a percentage of the flour. This means
    a 65% hydration dough uses water that weighs 65% of the flour. For example: 1000g of flour at
    65% hydration requires 650 grams of water.
  </p>
  <p>
    The pizza recipes that this app generates are for Neapolitan pizza. Neapolitan pizza, or pizza Napoletana,
    is a type of pizza that originated in Naples, Italy. This style of pizza is prepared with simple and fresh
    ingredients: a basic dough, raw canned tomatoes, fresh mozzarella cheese, fresh basil, and olive oil.
    This is <i>your</i> pizza, so put whatever you want on it!
  </p>
  <p>
    We almost <b>NEVER</b> use sugar in pizza dough, but sometimes to proof the yeast, we'll add a
    tbsp. of honey to the water before adding the yeast and dissolving it. If you want a browner crust, add a
    tsp of sugar or honey per doughball.
  </p>
  <p>Olive oil is not sed in traditional Neapolitan style pizza, but if you want
    a slightly softer crust, adding olive oil will soften the resulting crust
    a bit, and also protects the pizza from drying out in a conventional oven.
  </p>
</ion-content>